include pantheon/cli/rag_system_config.yaml
recursive-include pantheon/factory *.yaml
recursive-include pantheon/factory/templates *.md
recursive-include pantheon/cli *.yaml
recursive-include configs *.yaml
